@font-face {
  font-family: 'IKONS';
  src:  url('fonts/IKONS.eot?jzlryb');
  src:  url('fonts/IKONS.eot?jzlryb#iefix') format('embedded-opentype'),
    url('fonts/IKONS.ttf?jzlryb') format('truetype'),
    url('fonts/IKONS.woff?jzlryb') format('woff'),
    url('fonts/IKONS.svg?jzlryb#IKONS') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: inline;
}

i[class^="ikons-"], i[class*="ikons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IKONS' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ikons-lg { font-size: 1.3333em; line-height: 0.75em; vertical-align: -.0667em; }
.ikons-xl { font-size: 1.5em; line-height: 0.6666em; vertical-align: -.075em; }
.ikons-xxs { font-size: .5em; }
.ikons-xs { font-size: .75em; }
.ikons-sm { font-size: .875em }
.ikons-1x { font-size: 1em; }
.ikons-2x { font-size: 2em; }
.ikons-3x { font-size: 3em; }
.ikons-4x { font-size: 4em; }
.ikons-5x { font-size: 5em; }
.ikons-6x { font-size: 6em; }
.ikons-7x { font-size: 7em; }
.ikons-8x { font-size: 8em; }
.ikons-9x { font-size: 9em; }
.ikons-10x { font-size: 10em; }
.ikons-fw { text-align: center; width: 1.25em; }

.ikons-alarm:before {
  content: "\e900";
}
.ikons-alt:before {
  content: "\e901";
}
.ikons-android:before {
  content: "\e902";
}
.ikons-apple:before {
  content: "\e903";
}
.ikons-appstore:before {
  content: "\e904";
}
.ikons-arrow-1:before {
  content: "\e905";
}
.ikons-arrow2:before {
  content: "\e906";
}
.ikons-arrow-down:before {
  content: "\e907";
}
.ikons-arrow-left:before {
  content: "\e908";
}
.ikons-arrow-right:before {
  content: "\e909";
}
.ikons-arrow-up:before {
  content: "\e90a";
}
.ikons-arrows:before {
  content: "\e90b";
}
.ikons-arrows-horizontal:before {
  content: "\e90c";
}
.ikons-arrows-horizontal-2:before {
  content: "\e90d";
}
.ikons-arrows-vertical:before {
  content: "\e90e";
}
.ikons-arrows-vertical-2:before {
  content: "\e90f";
}
.ikons-bar-chart-1:before {
  content: "\e910";
}
.ikons-bar-chart-2:before {
  content: "\e911";
}
.ikons-bar-chart-3:before {
  content: "\e912";
}
.ikons-bar-graph:before {
  content: "\e913";
}
.ikons-basket:before {
  content: "\e914";
}
.ikons-basket-add:before {
  content: "\e915";
}
.ikons-basket-delete:before {
  content: "\e916";
}
.ikons-basket-ok:before {
  content: "\e917";
}
.ikons-basket-remove:before {
  content: "\e918";
}
.ikons-battery-1-3:before {
  content: "\e919";
}
.ikons-battery-2-3:before {
  content: "\e91a";
}
.ikons-battery-empty:before {
  content: "\e91b";
}
.ikons-battery-full:before {
  content: "\e91c";
}
.ikons-behance:before {
  content: "\e91d";
}
.ikons-bell:before {
  content: "\e91e";
}
.ikons-bin:before {
  content: "\e91f";
}
.ikons-block:before {
  content: "\e920";
}
.ikons-bluetooth:before {
  content: "\e921";
}
.ikons-book:before {
  content: "\e922";
}
.ikons-book-1:before {
  content: "\e923";
}
.ikons-book-2:before {
  content: "\e924";
}
.ikons-bookmark:before {
  content: "\e925";
}
.ikons-brightness-high:before {
  content: "\e926";
}
.ikons-brightness-low:before {
  content: "\e927";
}
.ikons-browser:before {
  content: "\e928";
}
.ikons-browser-add:before {
  content: "\e929";
}
.ikons-browser-delete:before {
  content: "\e92a";
}
.ikons-browser-layout-1:before {
  content: "\e92b";
}
.ikons-browser-layout-2:before {
  content: "\e92c";
}
.ikons-browser-layout-3:before {
  content: "\e92d";
}
.ikons-browser-ok:before {
  content: "\e92e";
}
.ikons-browser-remove:before {
  content: "\e92f";
}
.ikons-bullseye:before {
  content: "\e930";
}
.ikons-calendar:before {
  content: "\e931";
}
.ikons-calendar-add:before {
  content: "\e932";
}
.ikons-calendar-ok:before {
  content: "\e933";
}
.ikons-camera:before {
  content: "\e934";
}
.ikons-cassette:before {
  content: "\e935";
}
.ikons-chart:before {
  content: "\e936";
}
.ikons-chart-1-2:before {
  content: "\e937";
}
.ikons-chart-1-4:before {
  content: "\e938";
}
.ikons-chart-1-8:before {
  content: "\e939";
}
.ikons-chart-3-4:before {
  content: "\e93a";
}
.ikons-chart-3-8:before {
  content: "\e93b";
}
.ikons-chart-5-8:before {
  content: "\e93c";
}
.ikons-chart-7-8:before {
  content: "\e93d";
}
.ikons-circle:before {
  content: "\e93e";
}
.ikons-circle-delete:before {
  content: "\e93f";
}
.ikons-circle-down:before {
  content: "\e940";
}
.ikons-circle-fast-forward:before {
  content: "\e941";
}
.ikons-circle-left:before {
  content: "\e942";
}
.ikons-circle-minus:before {
  content: "\e943";
}
.ikons-circle-ok:before {
  content: "\e944";
}
.ikons-circle-pause:before {
  content: "\e945";
}
.ikons-circle-play:before {
  content: "\e946";
}
.ikons-circle-plus:before {
  content: "\e947";
}
.ikons-circle-rewind:before {
  content: "\e948";
}
.ikons-circle-right:before {
  content: "\e949";
}
.ikons-circle-skip-next:before {
  content: "\e94a";
}
.ikons-circle-skip-previous:before {
  content: "\e94b";
}
.ikons-circle-stop:before {
  content: "\e94c";
}
.ikons-circle-up:before {
  content: "\e94d";
}
.ikons-clip:before {
  content: "\e94e";
}
.ikons-close:before {
  content: "\e94f";
}
.ikons-cloud:before {
  content: "\e950";
}
.ikons-cloud-download:before {
  content: "\e951";
}
.ikons-cloud-fail:before {
  content: "\e952";
}
.ikons-cloud-ok:before {
  content: "\e953";
}
.ikons-cloud-upload:before {
  content: "\e954";
}
.ikons-code:before {
  content: "\e955";
}
.ikons-cog:before {
  content: "\e956";
}
.ikons-columns:before {
  content: "\e957";
}
.ikons-command:before {
  content: "\e958";
}
.ikons-compass:before {
  content: "\e959";
}
.ikons-computer-add:before {
  content: "\e95a";
}
.ikons-computer-delete:before {
  content: "\e95b";
}
.ikons-computer-download:before {
  content: "\e95c";
}
.ikons-computer-ok:before {
  content: "\e95d";
}
.ikons-computer-remove:before {
  content: "\e95e";
}
.ikons-computer-upload:before {
  content: "\e95f";
}
.ikons-copy-1:before {
  content: "\e960";
}
.ikons-copy-2:before {
  content: "\e961";
}
.ikons-credit-card:before {
  content: "\e962";
}
.ikons-crop:before {
  content: "\e963";
}
.ikons-diskette:before {
  content: "\e964";
}
.ikons-document:before {
  content: "\e965";
}
.ikons-document-add:before {
  content: "\e966";
}
.ikons-document-delete:before {
  content: "\e967";
}
.ikons-document-download:before {
  content: "\e968";
}
.ikons-document-ok:before {
  content: "\e969";
}
.ikons-document-remove:before {
  content: "\e96a";
}
.ikons-document-upload:before {
  content: "\e96b";
}
.ikons-documents:before {
  content: "\e96c";
}
.ikons-download:before {
  content: "\e96d";
}
.ikons-dribbble:before {
  content: "\e96e";
}
.ikons-drop:before {
  content: "\e96f";
}
.ikons-dropbox:before {
  content: "\e970";
}
.ikons-eject:before {
  content: "\e971";
}
.ikons-equalizer:before {
  content: "\e972";
}
.ikons-facebook-1:before {
  content: "\e973";
}
.ikons-facebook-2:before {
  content: "\e974";
}
.ikons-fast-forward:before {
  content: "\e975";
}
.ikons-first-aid:before {
  content: "\e976";
}
.ikons-folder:before {
  content: "\e977";
}
.ikons-folder-add:before {
  content: "\e978";
}
.ikons-folder-delete:before {
  content: "\e979";
}
.ikons-folder-ok:before {
  content: "\e97a";
}
.ikons-folder-remove:before {
  content: "\e97b";
}
.ikons-followers:before {
  content: "\e97c";
}
.ikons-font-size-down:before {
  content: "\e97d";
}
.ikons-font-size-up:before {
  content: "\e97e";
}
.ikons-forrst:before {
  content: "\e97f";
}
.ikons-foursquare:before {
  content: "\e980";
}
.ikons-frame:before {
  content: "\e981";
}
.ikons-globe:before {
  content: "\e982";
}
.ikons-google-plus:before {
  content: "\e983";
}
.ikons-graph-fall:before {
  content: "\e984";
}
.ikons-graph-rise:before {
  content: "\e985";
}
.ikons-grid-1:before {
  content: "\e986";
}
.ikons-grid-2:before {
  content: "\e987";
}
.ikons-hashtag:before {
  content: "\e988";
}
.ikons-heart:before {
  content: "\e989";
}
.ikons-home:before {
  content: "\e98a";
}
.ikons-imac:before {
  content: "\e98b";
}
.ikons-image:before {
  content: "\e98c";
}
.ikons-inbox:before {
  content: "\e98d";
}
.ikons-inbox-in:before {
  content: "\e98e";
}
.ikons-inbox-out:before {
  content: "\e98f";
}
.ikons-instagram:before {
  content: "\e990";
}
.ikons-ipad:before {
  content: "\e991";
}
.ikons-iphone:before {
  content: "\e992";
}
.ikons-layers:before {
  content: "\e993";
}
.ikons-line-graph:before {
  content: "\e994";
}
.ikons-line-graph-square:before {
  content: "\e995";
}
.ikons-link:before {
  content: "\e996";
}
.ikons-linkedin:before {
  content: "\e997";
}
.ikons-list:before {
  content: "\e998";
}
.ikons-list-2:before {
  content: "\e999";
}
.ikons-loading:before {
  content: "\e99a";
}
.ikons-location:before {
  content: "\e99b";
}
.ikons-lock:before {
  content: "\e99c";
}
.ikons-login:before {
  content: "\e99d";
}
.ikons-logout:before {
  content: "\e99e";
}
.ikons-macbook:before {
  content: "\e99f";
}
.ikons-magnifying-glass:before {
  content: "\e9a0";
}
.ikons-magnifying-glass-add:before {
  content: "\e9a1";
}
.ikons-magnifying-glass-remove:before {
  content: "\e9a2";
}
.ikons-mail:before {
  content: "\e9a3";
}
.ikons-mail-incoming:before {
  content: "\e9a4";
}
.ikons-mail-outgoing:before {
  content: "\e9a5";
}
.ikons-map:before {
  content: "\e9a6";
}
.ikons-map-add:before {
  content: "\e9a7";
}
.ikons-map-delete:before {
  content: "\e9a8";
}
.ikons-map-ok:before {
  content: "\e9a9";
}
.ikons-map-remove:before {
  content: "\e9aa";
}
.ikons-microphone:before {
  content: "\e9ab";
}
.ikons-microphone-off:before {
  content: "\e9ac";
}
.ikons-microsoft:before {
  content: "\e9ad";
}
.ikons-minus:before {
  content: "\e9ae";
}
.ikons-more:before {
  content: "\e9af";
}
.ikons-more-2:before {
  content: "\e9b0";
}
.ikons-moustache:before {
  content: "\e9b1";
}
.ikons-music:before {
  content: "\e9b2";
}
.ikons-notepad:before {
  content: "\e9b3";
}
.ikons-notepad-add:before {
  content: "\e9b4";
}
.ikons-notepad-delete:before {
  content: "\e9b5";
}
.ikons-notepad-ok:before {
  content: "\e9b6";
}
.ikons-notepad-remove:before {
  content: "\e9b7";
}
.ikons-pause:before {
  content: "\e9b8";
}
.ikons-paypal:before {
  content: "\e9b9";
}
.ikons-pen-1:before {
  content: "\e9ba";
}
.ikons-pen-2:before {
  content: "\e9bb";
}
.ikons-pen-3:before {
  content: "\e9bc";
}
.ikons-picture:before {
  content: "\e9bd";
}
.ikons-pie-chart:before {
  content: "\e9be";
}
.ikons-pill:before {
  content: "\e9bf";
}
.ikons-pin-1:before {
  content: "\e9c0";
}
.ikons-pin-2:before {
  content: "\e9c1";
}
.ikons-pin-zoom-in:before {
  content: "\e9c2";
}
.ikons-pin-zoom-out:before {
  content: "\e9c3";
}
.ikons-pinterest-1:before {
  content: "\e9c4";
}
.ikons-pinterest-2:before {
  content: "\e9c5";
}
.ikons-play:before {
  content: "\e9c6";
}
.ikons-plug:before {
  content: "\e9c7";
}
.ikons-plus:before {
  content: "\e9c8";
}
.ikons-polaroid:before {
  content: "\e9c9";
}
.ikons-polaroids:before {
  content: "\e9ca";
}
.ikons-power:before {
  content: "\e9cb";
}
.ikons-presentation:before {
  content: "\e9cc";
}
.ikons-printer:before {
  content: "\e9cd";
}
.ikons-progress:before {
  content: "\e9ce";
}
.ikons-record:before {
  content: "\e9cf";
}
.ikons-repeat:before {
  content: "\e9d0";
}
.ikons-repeat-1:before {
  content: "\e9d1";
}
.ikons-repeat-2:before {
  content: "\e9d2";
}
.ikons-resize-1:before {
  content: "\e9d3";
}
.ikons-resize-2:before {
  content: "\e9d4";
}
.ikons-resize-3:before {
  content: "\e9d5";
}
.ikons-resize-4:before {
  content: "\e9d6";
}
.ikons-resize-5:before {
  content: "\e9d7";
}
.ikons-resize-6:before {
  content: "\e9d8";
}
.ikons-rewind:before {
  content: "\e9d9";
}
.ikons-rss:before {
  content: "\e9da";
}
.ikons-screen-expand-1:before {
  content: "\e9db";
}
.ikons-screen-expand-2:before {
  content: "\e9dc";
}
.ikons-screen-expand-3:before {
  content: "\e9dd";
}
.ikons-share:before {
  content: "\e9de";
}
.ikons-share-2:before {
  content: "\e9df";
}
.ikons-shop:before {
  content: "\e9e0";
}
.ikons-shopping-bag:before {
  content: "\e9e1";
}
.ikons-shopping-cart:before {
  content: "\e9e2";
}
.ikons-shopping-cart-add:before {
  content: "\e9e3";
}
.ikons-shopping-cart-delete:before {
  content: "\e9e4";
}
.ikons-shopping-cart-ok:before {
  content: "\e9e5";
}
.ikons-shopping-cart-remove:before {
  content: "\e9e6";
}
.ikons-shuffle:before {
  content: "\e9e7";
}
.ikons-skip-next:before {
  content: "\e9e8";
}
.ikons-skip-previous:before {
  content: "\e9e9";
}
.ikons-skype:before {
  content: "\e9ea";
}
.ikons-slideshow:before {
  content: "\e9eb";
}
.ikons-speech-1:before {
  content: "\e9ec";
}
.ikons-speech-2:before {
  content: "\e9ed";
}
.ikons-speech-3:before {
  content: "\e9ee";
}
.ikons-speech-4:before {
  content: "\e9ef";
}
.ikons-speech-bubble-1:before {
  content: "\e9f0";
}
.ikons-speech-bubble-2:before {
  content: "\e9f1";
}
.ikons-speech-bubbles:before {
  content: "\e9f2";
}
.ikons-spotify:before {
  content: "\e9f3";
}
.ikons-square:before {
  content: "\e9f4";
}
.ikons-square-add:before {
  content: "\e9f5";
}
.ikons-square-dashed:before {
  content: "\e9f6";
}
.ikons-square-delete:before {
  content: "\e9f7";
}
.ikons-square-down:before {
  content: "\e9f8";
}
.ikons-square-left:before {
  content: "\e9f9";
}
.ikons-square-ok:before {
  content: "\e9fa";
}
.ikons-square-remove:before {
  content: "\e9fb";
}
.ikons-square-right:before {
  content: "\e9fc";
}
.ikons-square-up:before {
  content: "\e9fd";
}
.ikons-star:before {
  content: "\e9fe";
}
.ikons-stop:before {
  content: "\e9ff";
}
.ikons-suitcase:before {
  content: "\ea00";
}
.ikons-tag:before {
  content: "\ea01";
}
.ikons-tags:before {
  content: "\ea02";
}
.ikons-target:before {
  content: "\ea03";
}
.ikons-terminal:before {
  content: "\ea04";
}
.ikons-text-center:before {
  content: "\ea05";
}
.ikons-text-justify:before {
  content: "\ea06";
}
.ikons-text-left:before {
  content: "\ea07";
}
.ikons-text-right:before {
  content: "\ea08";
}
.ikons-tick:before {
  content: "\ea09";
}
.ikons-time:before {
  content: "\ea0a";
}
.ikons-timer:before {
  content: "\ea0b";
}
.ikons-tumblr:before {
  content: "\ea0c";
}
.ikons-twitter:before {
  content: "\ea0d";
}
.ikons-unlock:before {
  content: "\ea0e";
}
.ikons-upload:before {
  content: "\ea0f";
}
.ikons-user:before {
  content: "\ea10";
}
.ikons-user-add:before {
  content: "\ea11";
}
.ikons-user-circle:before {
  content: "\ea12";
}
.ikons-user-delete:before {
  content: "\ea13";
}
.ikons-user-ok:before {
  content: "\ea14";
}
.ikons-user-remove:before {
  content: "\ea15";
}
.ikons-user-square:before {
  content: "\ea16";
}
.ikons-users:before {
  content: "\ea17";
}
.ikons-view:before {
  content: "\ea18";
}
.ikons-view-off:before {
  content: "\ea19";
}
.ikons-vimeo:before {
  content: "\ea1a";
}
.ikons-voicemail:before {
  content: "\ea1b";
}
.ikons-volume-1:before {
  content: "\ea1c";
}
.ikons-volume-2:before {
  content: "\ea1d";
}
.ikons-volume-3:before {
  content: "\ea1e";
}
.ikons-volume-down:before {
  content: "\ea1f";
}
.ikons-volume-mute:before {
  content: "\ea20";
}
.ikons-volume-off:before {
  content: "\ea21";
}
.ikons-volume-up:before {
  content: "\ea22";
}
.ikons-warning:before {
  content: "\ea23";
}
.ikons-wifi-1:before {
  content: "\ea24";
}
.ikons-wifi-2:before {
  content: "\ea25";
}
.ikons-wifi-3:before {
  content: "\ea26";
}
.ikons-windows:before {
  content: "\ea27";
}
.ikons-youtube:before {
  content: "\ea28";
}
.ikons-zoom-in:before {
  content: "\ea29";
}
.ikons-zoom-out:before {
  content: "\ea2a";
}
