$icomoon-font-family: "IKONS" !default;
$icomoon-font-path: "fonts" !default;

$ikons-alarm: "\e900";
$ikons-alt: "\e901";
$ikons-android: "\e902";
$ikons-apple: "\e903";
$ikons-appstore: "\e904";
$ikons-arrow_1: "\e905";
$ikons-arrow_2: "\e906";
$ikons-arrow_down: "\e907";
$ikons-arrow_left: "\e908";
$ikons-arrow_right: "\e909";
$ikons-arrow_up: "\e90a";
$ikons-arrows: "\e90b";
$ikons-arrows_horizontal: "\e90c";
$ikons-arrows_horizontal_2: "\e90d";
$ikons-arrows_vertical: "\e90e";
$ikons-arrows_vertical_2: "\e90f";
$ikons-bar_chart_1: "\e910";
$ikons-bar_chart_2: "\e911";
$ikons-bar_chart_3: "\e912";
$ikons-bar_graph: "\e913";
$ikons-basket: "\e914";
$ikons-basket_add: "\e915";
$ikons-basket_delete: "\e916";
$ikons-basket_ok: "\e917";
$ikons-basket_remove: "\e918";
$ikons-battery_1_3: "\e919";
$ikons-battery_2_3: "\e91a";
$ikons-battery_empty: "\e91b";
$ikons-battery_full: "\e91c";
$ikons-behance: "\e91d";
$ikons-bell: "\e91e";
$ikons-bin: "\e91f";
$ikons-block: "\e920";
$ikons-bluetooth: "\e921";
$ikons-book: "\e922";
$ikons-book_1: "\e923";
$ikons-book_2: "\e924";
$ikons-bookmark: "\e925";
$ikons-brightness_high: "\e926";
$ikons-brightness_low: "\e927";
$ikons-browser: "\e928";
$ikons-browser_add: "\e929";
$ikons-browser_delete: "\e92a";
$ikons-browser_layout_1: "\e92b";
$ikons-browser_layout_2: "\e92c";
$ikons-browser_layout_3: "\e92d";
$ikons-browser_ok: "\e92e";
$ikons-browser_remove: "\e92f";
$ikons-bullseye: "\e930";
$ikons-calendar: "\e931";
$ikons-calendar_add: "\e932";
$ikons-calendar_ok: "\e933";
$ikons-camera: "\e934";
$ikons-cassette: "\e935";
$ikons-chart: "\e936";
$ikons-chart_1_2: "\e937";
$ikons-chart_1_4: "\e938";
$ikons-chart_1_8: "\e939";
$ikons-chart_3_4: "\e93a";
$ikons-chart_3_8: "\e93b";
$ikons-chart_5_8: "\e93c";
$ikons-chart_7_8: "\e93d";
$ikons-circle: "\e93e";
$ikons-circle_delete: "\e93f";
$ikons-circle_down: "\e940";
$ikons-circle_fast_forward: "\e941";
$ikons-circle_left: "\e942";
$ikons-circle_minus: "\e943";
$ikons-circle_ok: "\e944";
$ikons-circle_pause: "\e945";
$ikons-circle_play: "\e946";
$ikons-circle_plus: "\e947";
$ikons-circle_rewind: "\e948";
$ikons-circle_right: "\e949";
$ikons-circle_skip_next: "\e94a";
$ikons-circle_skip_previous: "\e94b";
$ikons-circle_stop: "\e94c";
$ikons-circle_up: "\e94d";
$ikons-clip: "\e94e";
$ikons-close: "\e94f";
$ikons-cloud: "\e950";
$ikons-cloud_download: "\e951";
$ikons-cloud_fail: "\e952";
$ikons-cloud_ok: "\e953";
$ikons-cloud_upload: "\e954";
$ikons-code: "\e955";
$ikons-cog: "\e956";
$ikons-columns: "\e957";
$ikons-command: "\e958";
$ikons-compass: "\e959";
$ikons-computer_add: "\e95a";
$ikons-computer_delete: "\e95b";
$ikons-computer_download: "\e95c";
$ikons-computer_ok: "\e95d";
$ikons-computer_remove: "\e95e";
$ikons-computer_upload: "\e95f";
$ikons-copy_1: "\e960";
$ikons-copy_2: "\e961";
$ikons-credit_card: "\e962";
$ikons-crop: "\e963";
$ikons-diskette: "\e964";
$ikons-document: "\e965";
$ikons-document_add: "\e966";
$ikons-document_delete: "\e967";
$ikons-document_download: "\e968";
$ikons-document_ok: "\e969";
$ikons-document_remove: "\e96a";
$ikons-document_upload: "\e96b";
$ikons-documents: "\e96c";
$ikons-download: "\e96d";
$ikons-dribbble: "\e96e";
$ikons-drop: "\e96f";
$ikons-dropbox: "\e970";
$ikons-eject: "\e971";
$ikons-equalizer: "\e972";
$ikons-facebook_1: "\e973";
$ikons-facebook_2: "\e974";
$ikons-fast_forward: "\e975";
$ikons-first_aid: "\e976";
$ikons-folder: "\e977";
$ikons-folder_add: "\e978";
$ikons-folder_delete: "\e979";
$ikons-folder_ok: "\e97a";
$ikons-folder_remove: "\e97b";
$ikons-followers: "\e97c";
$ikons-font_size_down: "\e97d";
$ikons-font_size_up: "\e97e";
$ikons-forrst: "\e97f";
$ikons-foursquare: "\e980";
$ikons-frame: "\e981";
$ikons-globe: "\e982";
$ikons-google_plus: "\e983";
$ikons-graph_fall: "\e984";
$ikons-graph_rise: "\e985";
$ikons-grid_1: "\e986";
$ikons-grid_2: "\e987";
$ikons-hashtag: "\e988";
$ikons-heart: "\e989";
$ikons-home: "\e98a";
$ikons-imac: "\e98b";
$ikons-image: "\e98c";
$ikons-inbox: "\e98d";
$ikons-inbox_in: "\e98e";
$ikons-inbox_out: "\e98f";
$ikons-instagram: "\e990";
$ikons-ipad: "\e991";
$ikons-iphone: "\e992";
$ikons-layers: "\e993";
$ikons-line_graph: "\e994";
$ikons-line_graph_square: "\e995";
$ikons-link: "\e996";
$ikons-linkedin: "\e997";
$ikons-list: "\e998";
$ikons-list_2: "\e999";
$ikons-loading: "\e99a";
$ikons-location: "\e99b";
$ikons-lock: "\e99c";
$ikons-login: "\e99d";
$ikons-logout: "\e99e";
$ikons-macbook: "\e99f";
$ikons-magnifying_glass: "\e9a0";
$ikons-magnifying_glass_add: "\e9a1";
$ikons-magnifying_glass_remove: "\e9a2";
$ikons-mail: "\e9a3";
$ikons-mail_incoming: "\e9a4";
$ikons-mail_outgoing: "\e9a5";
$ikons-map: "\e9a6";
$ikons-map_add: "\e9a7";
$ikons-map_delete: "\e9a8";
$ikons-map_ok: "\e9a9";
$ikons-map_remove: "\e9aa";
$ikons-microphone: "\e9ab";
$ikons-microphone_off: "\e9ac";
$ikons-microsoft: "\e9ad";
$ikons-minus: "\e9ae";
$ikons-more: "\e9af";
$ikons-more_2: "\e9b0";
$ikons-moustache: "\e9b1";
$ikons-music: "\e9b2";
$ikons-notepad: "\e9b3";
$ikons-notepad_add: "\e9b4";
$ikons-notepad_delete: "\e9b5";
$ikons-notepad_ok: "\e9b6";
$ikons-notepad_remove: "\e9b7";
$ikons-pause: "\e9b8";
$ikons-paypal: "\e9b9";
$ikons-pen_1: "\e9ba";
$ikons-pen_2: "\e9bb";
$ikons-pen_3: "\e9bc";
$ikons-picture: "\e9bd";
$ikons-pie_chart: "\e9be";
$ikons-pill: "\e9bf";
$ikons-pin_1: "\e9c0";
$ikons-pin_2: "\e9c1";
$ikons-pin_zoom_in: "\e9c2";
$ikons-pin_zoom_out: "\e9c3";
$ikons-pinterest_1: "\e9c4";
$ikons-pinterest_2: "\e9c5";
$ikons-play: "\e9c6";
$ikons-plug: "\e9c7";
$ikons-plus: "\e9c8";
$ikons-polaroid: "\e9c9";
$ikons-polaroids: "\e9ca";
$ikons-power: "\e9cb";
$ikons-presentation: "\e9cc";
$ikons-printer: "\e9cd";
$ikons-progress: "\e9ce";
$ikons-record: "\e9cf";
$ikons-repeat: "\e9d0";
$ikons-repeat_1: "\e9d1";
$ikons-repeat_2: "\e9d2";
$ikons-resize_1: "\e9d3";
$ikons-resize_2: "\e9d4";
$ikons-resize_3: "\e9d5";
$ikons-resize_4: "\e9d6";
$ikons-resize_5: "\e9d7";
$ikons-resize_6: "\e9d8";
$ikons-rewind: "\e9d9";
$ikons-rss: "\e9da";
$ikons-screen_expand_1: "\e9db";
$ikons-screen_expand_2: "\e9dc";
$ikons-screen_expand_3: "\e9dd";
$ikons-share: "\e9de";
$ikons-share_2: "\e9df";
$ikons-shop: "\e9e0";
$ikons-shopping_bag: "\e9e1";
$ikons-shopping_cart: "\e9e2";
$ikons-shopping_cart_add: "\e9e3";
$ikons-shopping_cart_delete: "\e9e4";
$ikons-shopping_cart_ok: "\e9e5";
$ikons-shopping_cart_remove: "\e9e6";
$ikons-shuffle: "\e9e7";
$ikons-skip_next: "\e9e8";
$ikons-skip_previous: "\e9e9";
$ikons-skype: "\e9ea";
$ikons-slideshow: "\e9eb";
$ikons-speech_1: "\e9ec";
$ikons-speech_2: "\e9ed";
$ikons-speech_3: "\e9ee";
$ikons-speech_4: "\e9ef";
$ikons-speech_bubble_1: "\e9f0";
$ikons-speech_bubble_2: "\e9f1";
$ikons-speech_bubbles: "\e9f2";
$ikons-spotify: "\e9f3";
$ikons-square: "\e9f4";
$ikons-square_add: "\e9f5";
$ikons-square_dashed: "\e9f6";
$ikons-square_delete: "\e9f7";
$ikons-square_down: "\e9f8";
$ikons-square_left: "\e9f9";
$ikons-square_ok: "\e9fa";
$ikons-square_remove: "\e9fb";
$ikons-square_right: "\e9fc";
$ikons-square_up: "\e9fd";
$ikons-star: "\e9fe";
$ikons-stop: "\e9ff";
$ikons-suitcase: "\ea00";
$ikons-tag: "\ea01";
$ikons-tags: "\ea02";
$ikons-target: "\ea03";
$ikons-terminal: "\ea04";
$ikons-text_center: "\ea05";
$ikons-text_justify: "\ea06";
$ikons-text_left: "\ea07";
$ikons-text_right: "\ea08";
$ikons-tick: "\ea09";
$ikons-time: "\ea0a";
$ikons-timer: "\ea0b";
$ikons-tumblr: "\ea0c";
$ikons-twitter: "\ea0d";
$ikons-unlock: "\ea0e";
$ikons-upload: "\ea0f";
$ikons-user: "\ea10";
$ikons-user_add: "\ea11";
$ikons-user_circle: "\ea12";
$ikons-user_delete: "\ea13";
$ikons-user_ok: "\ea14";
$ikons-user_remove: "\ea15";
$ikons-user_square: "\ea16";
$ikons-users: "\ea17";
$ikons-view: "\ea18";
$ikons-view_off: "\ea19";
$ikons-vimeo: "\ea1a";
$ikons-voicemail: "\ea1b";
$ikons-volume_1: "\ea1c";
$ikons-volume_2: "\ea1d";
$ikons-volume_3: "\ea1e";
$ikons-volume_down: "\ea1f";
$ikons-volume_mute: "\ea20";
$ikons-volume_off: "\ea21";
$ikons-volume_up: "\ea22";
$ikons-warning: "\ea23";
$ikons-wifi_1: "\ea24";
$ikons-wifi_2: "\ea25";
$ikons-wifi_3: "\ea26";
$ikons-windows: "\ea27";
$ikons-youtube: "\ea28";
$ikons-zoom_in: "\ea29";
$ikons-zoom_out: "\ea2a";

